html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255,255,255);
    background-color: rgb(216, 216, 216);
    text-shadow: 1px 2px 3px rgb(100, 100, 100);
    opacity: 1;
    transition: opacity 3.0s;
}

.fade-in {
    opacity: 0;
    transition: none;
}

* {
    box-sizing: border-box;
}

/*Icon animations and transitions is at bottom*/


.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.video-container:before {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(174deg, transparent 84%, rgba(216, 216, 216, 1)94% 100%);
}

video {
    width: 100%;
}



/*NAVBAR*/
.navbar  {
    background-color: rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, transparent 58%, rgba(0, 0, 0, 0.1));
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}

.navbar a {
    display: inline-block;
    float: right;
    color: rgb(255, 255, 255);
    padding: 20px 20px;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    font-size: 1.9vw;
    border-radius: 10px;
    transition: background-color .6s, color .2s;
}

.navbar a:hover {
    color: rgb(190, 230, 195);
    background-color: rgba(0,0,0,0.3);
}

.drop-content {
    display: block;
    transition: opacity .8s, visibility 1s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 100%;
    list-style-type: none;
    width: 100%;
    background-color: rgba(115, 160, 120, 0.4);
    background: linear-gradient(to right, transparent 74%, rgba(115, 160, 120, 0.4));
    overflow: hidden;
    border-radius: 0 10px 10px 0;
}


.drop-content img {
    width: 3vw;
    height: 3vw;
    border-radius: 10px;
    transition: opacity .6s;
}

.drop-content img:hover {
    opacity: 1;
}

.drop-content a {
    transition: transform .6s;
    border-radius: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: .5%;
    padding-right: 1.6%;
}

.drop-content a:hover {
    background-color: rgba(0, 0, 0, 0.0);
    transform: scale(1.22);
    opacity: 1;
}

#nav-home {
    transition: opacity .8s, visibility 1s, background-color .6s, color .2s;
    visibility: hidden;
    opacity: 0;
}

#nav-home:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(130, 185, 130, 0.24);
}




/*SPACING AND LAYOUT*/
/*Blank columns are used to push all text
to the right side of the screen*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

.blank-title-column {
    float: left;
    width: 66%;
    height: 500px;
    margin-top: 30%;
}

.text-title-column {
    float: left;
    width: 34%;
    height: 500px;
    margin-top: 30%;
}

.blank-column {
    float: left;
    width: 60%;
    height: 600px;
    margin-top: 14%;
}

.text-column {
    float: left;
    width: 40%;
    height: 600px;
    margin-top: 14%;
}

.text-column-half {
    float: left;
    width: 20%;
    height: 600px;
    margin-top: 14%;
}

.text-column-short-last {
    float: left;
    width: 40%;
    height: 200px;
    margin-top: -5%;
}

.text-column-short-half {
    float: left;
    width: 20%;
    height: 300px;
    margin-top: 14%;
}

.text-column-shorter-half {
    float: left;
    width: 20%;
    height: 300px;
}

.blank-column-last {
    float: left;
    width: 60%;
    height: 500px;
    margin-top: 14%;
}




/*HYPERLINKS*/
/*This affects all <anchors> except the navbar*/
.row a {
    color: rgb(255,255,255);
    text-decoration-color: rgb(255,255,255);
    text-shadow: 2px 0px 3px rgb(100, 100, 100);
    transition: text-decoration-color .4s, color .4s;
}

.row a:hover {
    color: rgb(190, 230, 195);
    text-decoration-color: rgb(190, 230, 195);
}




/*HOME/TITLE*/
#home {
    font-size: 2.4vw;
    font-weight: bold;
}

#home h3 {
    margin-bottom: 0;
}

#home p {
    margin-top: 0;
    margin-left: 18%;
    font-size: 1vw;
    letter-spacing: 2px;
}




/*ABOUT*/
#about h3 {
    text-align: center;
    margin-right: 1%;
    font-size: 2.1vw;
    font-weight: bold;
    margin-top: -5%;
}

#about p {
    font-size: 1.8vw;
    font-weight: bold;
    text-align: justify;
    line-height: 1.4em;
    padding: 5px;
    margin-right: 3%;
    border-radius: 10px;
    transition: background-color 1.5s;
}

#read:hover {
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: rgba(0, 0, 0, 0.0);
    border-color: none;
}





/*WORKS*/
#works img {
    display: block;
    width: 32%;
    border-radius: 10px;
    float: right;
    margin-right: 25%;
    margin-top: 15%;
}

#works h2 {
    font-size: 2.2vw;
}

.squish {
    margin-top: 22%;
    margin-bottom: -10%;
}




/*CONTACT*/
.email img {
    display: block;
    width: 60%;
    border-radius: 22px;
    margin-right: auto;
    margin-left: auto;
}

.email h2 {
    margin-left: 5%;
    text-align: justify;
    font-size: 2.15vw;
}

.email {
    margin-top: 20%;
}

.social img {
    display: inline block;
    width: 15%;
    border-radius: 14px;
    float: right;
    margin-right: 14%;
}

.social h2 {
    font-size: 1.6vw;
}



/*Affects all icons including navbar*/
img {
    opacity: .72;
}

/*Icon animations exlucing navbar*/
#works img, .email img, .social img {
    transition: transform .8s, opacity .6s, box-shadow .4s;
}

#works img:hover, .email img:hover, .social img:hover {
    transform: scale(1.08);
    opacity: .9;
    box-shadow: 3px 3px 8px 3px rgba(114, 158, 120, 0.5);
}